/* game board table */
body{
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: magenta;
}

.title{
  font-family: 'Bruno Ace';
  font-size: 60px;
  text-align: center;
}

#board{
  margin-left:auto;
  margin-right:auto;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/*
.piece.p1 {
  background-color: rgb(102, 230, 252);
}

.piece.p2 {
  background-color: rgb(250, 194, 90);
*/

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: magenta;;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  width: 50%;
  height: 50%;
}
